nav {
    background-color: #e3f2fd;
    box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #f6fdff;
}

footer {
    height: fit-content;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;

    p {
        margin: 10px 0;
    }

    i {
        color: red;
    }

    a {
        color: #3c97bf;
        text-decoration: none;
    }
}
