{% extends 'base.html' %}
{% block StyleSheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">{% endblock StyleSheet %}


{% block title %} Profile {% endblock title %}

{% block content %}

<div class="main-container-private">
    <div class="profile-card">
        <span class="pro">VIP</span>
        <img class="round" id="user_propic" src="data:;base64,{{ user_propic }}" alt="{{user.first_name}}" />
        <h3 id="first_and_last_name">{{user.first_name}} {{user.last_name}}</h3>
        <h6 id="city_and_state">{{user.city}},<span> </span>{{user.state}}</h6>
        <div id="line-dash-design"></div>
        <p>Username - <b>{{user.username}}</b> </p>
        <p>Email Id - <b>{{user.email}}</b></p>

        <div class="small-message">
            <h6>You are very a speacial person <br> Always keep smilling &#128519;</h6>
            <ul>
                <li id="greeting-message"></li>
            </ul>
        </div>
    </div>

    <footer>
        <p>
            Created with &#10084; by Abhilash Gupta <a target="_blank" href="https://abhilashgupta.ml"> Click here </a>
            to
            know more about me
        </p>
    </footer>
</div>
{% endblock content %}